<div class="container">
  <h1 class="text-center">Tasks Assigned</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <select (change)="onSelectingOption($event)">
            <option value="" disabled selected hidden>Sorting</option>
            <option *ngIf="adminOps" value="uasc">User:Ascending</option>
            <option *ngIf="adminOps" value="udesc">User:Descending</option>
            <option value="statassng">Status:Assigned</option>
            <option value="statpending">Status:Pending</option>
            <option value="statdone">Status:Completed</option>
          </select>
        </ul>
        <input name="filterSearch" class="ms-auto w-25" type="text" [(ngModel)]="filterTerm"
          placeholder="Search (Title)" aria-label="Search" />
      </div>
    </div>
  </nav>
  <button class="btn btn-primary float-end my-3" data-bs-toggle="modal" *ngIf="adminOps" data-bs-target="#exampleModal">
    Add Task
  </button>
  <table class="table table-striped table-responsive" *ngIf="!noTasks">
    <th *ngIf="adminOps">ID</th>

    <th>Title</th>

    <th *ngIf="adminOps">Assigned To</th>

    <th>Assigned By</th>

    <th>Assigned Date</th>

    <th>Due Date</th>

    <th>Days Left</th>

    <th>Status</th>

    <th>Actions</th>

    <tbody>
      <tr *ngFor="
          let x of taskData
            | filterpipe : filterTerm
            | sort : [sortingParam, sortingDirection]
        ">
        <td *ngIf="adminOps">{{ x.id }}
        </td>
        <td>{{ x.title | titlecase }}</td>
        <td *ngIf="adminOps">{{ x.userName }}</td>
        <td>{{ x.assignedBy }}</td>
        <td>{{ x.assignedDate | date }}</td>
        <td>{{ x.dueDate | date }}</td>
        <td>{{ getDaysLeft(todayDate, x.dueDate) }}</td>
        <td>{{ x.status | titlecase }}</td>

        <td>
          <button (click)="adminEdit(x)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            class="btn btn-outline-info ms-2" *ngIf="adminOps">
            Edit
          </button>
          <button (click)="deleteTask(x.id)" class="btn btn-outline-danger ms-2" *ngIf="adminOps">
            Delete
          </button>
          <button class="btn btn-outline-primary" (click)="updateStatus(x)" data-bs-toggle="modal"
            data-bs-target="#myModal" *ngIf="!adminOps">
            Update Status
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal for adding task -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #taskForm="ngForm" (ngSubmit)="taskForm.form.valid && onSubmit()" action="#">
          <div class="form-Group mb-3">
            <label for="title" class="col-3">Title:</label>
            <input id="title" class="col-8" name="title" #title [(ngModel)]="taskDetails.title" required type="text" />
          </div>

          <div class="form-Group mb-3">
            <label class="col-3">Assigned To:</label>
            <select (change)="setUserId()" name="assignedTo" [(ngModel)]="taskDetails.userName" required>
              <option *ngFor="let user of userNames" value="{{ user }}">
                {{ user }}
              </option>
            </select>
          </div>

          <div class="form-Group mb-3">
            <label class="col-3">Assigned Date</label>
            <input #assignedDate name="assignedDate" readonly [(ngModel)]="taskDetails.assignedDate" type="text" />
            <small><em><b>*Today</b></em></small>
          </div>

          <div class="form-Group mb-3">
            Due Date:<input #dueDate type="date" name="dueDate" [(ngModel)]="taskDetails.dueDate" />
          </div>

          <button type="submit" (click)="
              assignedDate.value = ''; dueDate.value = ''; title.value = ''
            " class="btn btn-primary" data-bs-dismiss="modal">
            Post Task
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal for updating status -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Status Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select [(ngModel)]="currentStatus" required>
          <option disabled>{{ currentStatus }}</option>
          <option value="Pending">Pending</option>
          <option value="Done">Accomplished</option>
        </select>
        <button class="btn btn-outline-info" (click)="putTaskStatus()">
          Set Status
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal for admin update -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group"> <label>Title:</label>
            <input type="text" name="taskTitle" [(ngModel)]="taskDetails.title">
          </div>

          <div class="form-group"> <label>Assigned To:</label>
            <select (change)="setUserId()" name="assignedTo" [(ngModel)]="taskDetails.userName" required>
              <option *ngFor="let user of userNames" value="{{ user }}">
                {{ user }}
              </option>
            </select>
          </div>

          <div class="form-group"> <label>Admin:</label>
            <input type="text" name="taskAdmin" [(ngModel)]="taskDetails.assignedBy">
          </div>

          <div class="form-group"> <label>Assigned Date:</label>
            <input type="text" readonly name="taskAssignedDate" [(ngModel)]="taskDetails.assignedDate">
          </div>

          <div class="form-group"> <label>Assigned Date:</label>
            <input type="date" name="taskDueDate" [(ngModel)]="taskDetails.dueDate">
          </div>

          <div class="form-group"> <label>Status:</label>
            <input type="text" name="taskStatus" [(ngModel)]="taskDetails.status">
          </div> 
          <button type="button" mat-raised-button color="primary" data-bs-dismiss="modal" (click)="adminEditPut()" class="btn btn-primary">Update</button>

        </form>
      </div>
       

    </div>
  </div>
</div>

<!-- no tasks -->
<div class="bg-black" id="fireworks" *ngIf="noTasks && !adminOps">
  <h1 class="mt-5 text-white text-center">YooHooo!!Tasks are Done</h1>
  <div class="firework"></div>
  <div class="firework"></div>
  <div class="firework"></div>
</div>